---
import Searchbar from "./SearchBar"
---
<header class="search">
    <img src="https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=600" alt="search-img">
    <div class="content">
        <h1>Pexel Clone Photos Gallery with Astro</h1>
        <p>Search, preview and download any images within a second</p>
        <div class="header-search">
            <Searchbar client:load />
        </div>
    </div>
</header>