---
import Searchbar from "./SearchBar"
import "./Navbar.css"
---
<nav class="navbar">
    <div class="container">
        <div class="left">
            <a href="/" class="logo-wrapper">
                <img
                    class="Logo"
                    src={"/assets/logo.svg"}
                    alt="logo"
                />
                <h2>Pexels-Clone</h2>
            </a>
            <Searchbar
                client:load
            />
        </div>
        <div class="right">
            <div class="dropdown">
                <p class="dropbtn">Explore</p>
                <div class="dropdown-content">
                    <a href="#">Discover Photos</a>
                    <a href="#">Popular Searches</a>
                    <a href="#">Free Videos</a>
                    <a href="#">Free Videos</a>
                </div>
            </div>
            <p>License</p>
            <button class="join">Join</button>
        </div>
    </div>
</nav>